@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

@import "universal";

body, html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}